body {
  background-image: url("https://cdn.discordapp.com/attachments/1172410684961718322/1284629677050302506/IMG_3293.jpg?ex=66e7541e&is=66e6029e&hm=997b3853ed01f2232a1df79224f42e30e0d4a6df643596708b24b5a12479f7d5&");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  border: 2px solid #ebebeb;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 117px;
}

p {
  color: #adadad;
  font-family: Arial;
  font-size: 13px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 12px;
}

h1 {
  color: white;
  font-family: Arial;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 12px;
}

button {
  width: 195px;
  height: 37px;
  font-size: 15px;
  background: black;
  border-radius: 20px;
  display: block;
  justify-content: center;
  margin: auto;
  margin-top: 14px;
}

a {
  color: white;
  text-decoration: none;
}

iframe {
  margin-top: 12px;
  frame-size: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 13px;
}
